// ======================================
//  Grid Layout
// ======================================

body {
  margin-top: 56px;
  @include flexy($disp: flex, $dir: column, $just: flex-start);
}

#portfolio,
blockquote {
  max-width: 960px;
  margin: 0 auto;
}

#about > * {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#about,
#portfolio,
#contact,
.quote {
  text-align: center;
}

#about,
#portfolio,
#contact {
  padding: 2em 1em 2em;
}

.quote {
  padding: 1em;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: .5em;
}

.card {
  padding: 1em;
}

.card a.icon {
  background-repeat: no-repeat;
  box-shadow: 0 0 16px -4px $black;
  display: inline-block;
  width: 192px;
  height: 192px;
  border-radius: 16px;
  overflow: hidden;
  & span {
    display: inline-block;
    transition: .4s;
    opacity: 0;
    width: 192px;
    height: 192px;
    @include flexy($disp: flex, $dir: column, $just: center);
  }
  &:hover span {
    background-color: rgba(map-get($secondary-colors, 3), .65);
    opacity: 1;
    color: $white;
  }
}

.appscope-link {
  @include flexy($disp: flex, $just: center);
  color: map-get($secondary-colors, 7);
  &:hover {
    opacity: .6;
  }
}

#about > h2,
#portfolio > h2,
#contact > h2 {
  margin-top: 0;
}

#about > :last-child,
#portfolio > :last-child,
#contact > :last-child {
  margin-bottom: 0;
}
