// ======================================
//  Images
// ======================================

.icon-appscope {
  width: 22px;
  height: 22px;
}

.blackjack a.icon {
  background-image: url('/blackjack/touch-icons/touch-icon.png');
}

.useless-translator a.icon {
  background-image: url('/useless-translator/touch-icons/touch-icon.png');
}

.username-generator a.icon {
  background-image: url('/username-generator/touch-icons/touch-icon.png');
}

.tricky-trivia a.icon {
  background-image: url('/tricky-trivia/touch-icons/touch-icon.png');
}

.slapjack a.icon {
  background-image: url('/slapjack/touch-icons/touch-icon.png');
}

.waterwars a.icon {
  background-image: url('/waterwars/touch-icons/touch-icon.png');
}

.sudoku a.icon {
  background-image: url('/sudoku/touch-icons/touch-icon.png');
}
